*{
    font-family: 'EB Garamond', serif;
    color: white;
}
body{
    background-color: lightgrey;
    align-content:center;
}
main{
    margin: 0 auto;
    max-width: 500px;
    padding: 0;
}

.container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
    background-color: white;
    
}
.arrow{
    width:30px;
    height: 300px;
    
}
.right{
    transform: rotate(180deg);
}

img{
    width:400px;
}
