*{
    font-family: 'EB Garamond', serif;
    color: white;
}
body{
    background-color: lightgrey;
    align-content:center;
    
}
main{
    margin: 0 auto;
    max-width: 500px;
    padding: 0;
}

.container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
    background-color: white;
    
}
.left_arrow{
    width:30px;
    min-height: 30px;
    background-repeat: no-repeat;
    align-items: center;
    cursor: pointer;
}
.right_arrow{
    width:30px;
    height: 400px;
    transform: rotate(180deg);
    background-repeat: no-repeat;
    align-items: center;
    cursor: pointer;
}
.image{
    position: relative;
    width:400px;
    height: 400px;
    background-size: auto 400px;
}

.text_block{
    position: absolute;
    width: 400px;
    bottom: 0px;
    background-color: rgba(10, 5, 5, 0.5);
    
}
